.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index:  1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
}
.sidenav a {
    padding: 12px 8px 8px 82px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(78, 77, 77);
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 10px;
    color: #000;
    font-size: 25px;
    background-color: yellow;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 5px 15px yellow;
}
span {
    display: inline-block;
    background-color: yellow;
    box-shadow: 0 5px 15px rgb(5,5,5);
    padding: 10px 8px 8px 8px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    font-family :sans-serif;
}